# Node.js dependencies
node_modules/

# Python virtual environment
venv/
*.pyc
__pycache__/

# Environment variables
.env
backend/.env
backend/firebase_key.json

# Logs
logs
*.log
*.tmp

# Temporary files
.DS_Store

# Build and compiled files
/build

# IDE and editor specific files
.idea/
.vscode/
